*{
    margin:0;
    padding:0;
    list-style-type: none;
}

body{
    background-color:black;
    /* color:black; */
    /* color:white; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("https://images.unsplash.com/photo-1595418917831-ef942bd9f9ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    
}


.intro{
    width: 100%;
    height: 800px;
    text-align: center;
}
/* 
#imgme{
    position:absolute;
    bottom:-55%;
    left:50%;
    transform: translateX(-50%);
    width: 750px;
    rotate: 10deg;

} */

#imgme{
    position:absolute;
    bottom:-5%;
    left:32%;
    /* transform: translateX(-50%); */
    width: 700px;
    /* rotate: 10deg; */
    z-index: 10;
    opacity: 0;
} 

#me{
    font-size: 120px;
    text-align: center;
    font-weight: 900;
    color:white;
    position:relative;
    top:54%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    cursor:pointer;
    
}

.intro .name1{
    width:100%;
    font-size: 120px;
    text-align: center;
    font-weight: 900;
    /* color:rgba(0, 0, 0, 0); */
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    /* margin-top: -100px; */
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity:0;
    

}
/* 
.infro .name1move{
    transition: 1.2s;
    top:20%;
    left:50%;
    transform: translate(-50%,-50%);
} */

.intro .name2{
    width:100%;
    font-size: 120px;
    text-align: center;
    font-weight: 900;
    /* color:transparent; */
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity:0;
    
}

.intro .name3{
    width:100%;
    font-size: 120px;
    text-align: center;
    font-weight: 900;
    /* color:transparent; */
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity:0;
    
}

.intro .name4{
    width:100%;
    font-size: 120px;
    text-align: center;
    font-weight: 900;
    /* color:transparent; */
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity:0;
    
}

.intro .name5{
    width:100%;
    font-size: 120px;
    text-align: center;
    font-weight: 900;
    /* color:transparent; */
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity:0;
    
}

.intro .name6{
    width:100%;
    font-size: 120px;
    text-align: center;
    font-weight: 900;
    /* color:transparent; */
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity:0;
    
}

.text{
    width: 300px;
    height: 50px;
    background-color: rgb(0, 255, 123);
    border-radius: 20px;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bolder;
    position:absolute;
    bottom:5%;
    left:30%;
    transform: translate(-50%,-50%);
    opacity: 0;
    
}

.text1{
    transform: rotate(45deg);
    border-radius: 90px;
    width: 20px;
    height:20px;
    background-color: rgb(0, 255, 123);
    position:absolute;
    bottom:5%;
    left:40%;
    transform: translate(-50%,-50%);
    opacity: 0;
    
}



